{% include 'collection_udo' %}

{%- assign bg_color = collection.metafields.masthead.bg_color -%}
{%- assign personImage = collection.image -%}
{%- assign headline = collection.metafields.masthead.collection_headline -%}
{%- assign tag = collection.title -%}
{%- assign text = collection.description -%}
{% include 'masthead' %}

<div class="container">
  <div class="section section-gap-large section-product-grid" data-col="3">
    {% for product in collection.products %}
      <a href="{{ product.url | default: "#" }}" class="product-grid-item">
        <img
        src="//images.accentuate.io?options=w400&shop={{ shop.permanent_domain }}&image={{ product.metafields.comparison.grid_image }}"
        alt="{{product.title}}"
      "/>
        <h3>{{ product.title | default: "Product Title" }}</h3>
        {% comment %} <p>{{ product.price | money | default: "$1.99" }}</p> {% endcomment %}
        <p>
        {% if product.price_max > product.price %}
          {{product.price_min | money }} - {{product.price_max | money }}
        {% else %}
          {{ product.price | money  }}
        {% endif %}
        </p>
      </a>
    {%  endfor %}
  </div>
</div>
