{% include 'collection_udo' %}

{%- assign bg_color = collection.metafields.masthead.bg_color -%}
{%- assign personImage = collection.image -%}
{%- assign headline = collection.metafields.masthead.collection_headline -%}

{% capture text %}
 <p>{{collection.description}}</p>
{% endcapture %}
{% include 'masthead' %}

<div class="container">
  <div class="section section-gap-large section-product-grid" data-col="3">
    {% for product in collection.products %}
      <a href="{{ product.url | default: "#" }}" class="product-grid-item">
        <img
        src="//images.accentuate.io?options=w400&shop={{ shop.permanent_domain }}&image={{ product.metafields.comparison.grid_image }}"
        alt="{{product.title}}"
      "/>
        <h3>{{ product.title | default: "Product Title" }}</h3>
        {% comment %} <p>{{ product.price | money | default: "$1.99" }}</p> {% endcomment %}
        <p>
          {% if product.metafields.price.alt_price %}
            <p>{{product.metafields.price.alt_price}}</p>
          {% else %}
            {% if product.price_max > product.price %}
              {{product.price_min | money | remove: ',' }} - {{product.price_max | money | remove: ',' }}
            {% else %}
              {{ product.price | money | remove: ','  }}
            {% endif %}
          {% endif%}
        </p>
      </a>
    {%  endfor %}
  </div>

  {% if collection.title == "Whitening"%}
  <section class="section section-banner section-banner--stats " style="background-color: #e3f2ff;">
        <div class="banner-segment banner-image"><img src="//cdn.shopify.com/s/files/1/0005/5354/9942/files/home-brightboost-callout_500x.png?v=1534972147" alt=""></div>
        <div class="banner-segment banner-stats">
          <h2 class="banner-stats__headline">The path to a brighter smile is clear.</h2>
          <div class="banner-stat__list">

              <div class="banner-stat">
                <div class="banner-stat__text">
                  <h5>Professional results for less</h5>
                  <p>You don’t have to pay premium prices for premium whitening. Why? Because <strong>bright on</strong> will get you the same results as the pros – for half the cost. And our <strong>Bright Boost™</strong> formula whitens quickly and keeps working even after it absorbs. </p>
                </div>
              </div>

              <div class="banner-stat">
                <div class="banner-stat__text">
                  <h5>Get results sooner</h5>
                  <p>It only takes 4 <strong>bright on</strong> pens to achieve your whitest white, and most grinners see results within a week. For a continuously bright smile, whiten for 1 week every 3 months.</p>
                </div>
              </div>

              <div class="banner-stat">
                <div class="banner-stat__text">
                  <h5>Quick and easy</h5>
                  <p>Just 5 minutes in the morning and evening gets you to your whitest white in 1 week without disrupting everyday life. And the no-mess brush applicator keeps gel off your hands and on your teeth. </p>
                </div>
              </div>

          </div>
        </div>
  </section><!-- /.section section-intro -->
  {% endif %}
</div>
