<div class="container">
  <section
    class="section section-banner {% if isSwapped %}swap{% endif %} {% if extraClasses %}{{extraClasses}}{% endif %}"
    style="background-color: {{bg_color}};"
  >
        <div class="banner-segment banner-text">
          <h2>{{ section.settings.title | escape }}</h2>
          {{ section.settings.text }}
          {% if ctaLink %}
            <a href="{{ctaLink}}" class="banner-cta button button--transparent">Shop now</a>
          {% endif %}
        </div>
        <div class="banner-segment banner-image">
          {%- if bannerImage -%}
            <img src="{{ bannerImage |  img_url: '400x' }}" alt="">
          {%- endif -%}
        </div>
  </section><!-- /.section section-intro -->
</div>