<section class="section section-masthead full-width" style="background-color: {{bg_color}};">
    <div class="container">
    	{%- if logoImage -%}
        <div class="image-wrapper logo-image-wrapper">
          {% comment %} {% if tag%}
          <p class="masthead--tag">{{tag}}</p>
          {% endif%} {% endcomment %}
          <img src="{{ logoImage |  img_url: '500x' }}" alt="">
          {{ text }}
          {% if ctaLink %}
            <a href="{{ctaLink}}" class="button button--transparent">{{ctaText}}</a>
          {% endif %}
        </div>
			{%- else -%}
        <div class="image-wrapper logo-image-wrapper">
          {% comment %} {% if tag%}
          <p class="masthead--tag">{{tag}}</p>
          {% endif%} {% endcomment %}
          {% if eyebrow%}
          <div class="masthead--eyebrow">{{eyebrow}}</div>
          {% endif%}
          <h2 class="masthead--title">{{headline}}</h2>
          {{ text }}
          {% if ctaLink %}
            <a href="{{ctaLink}}" class="button button--transparent" style="border-color: {{ctaColor}};color: {{ctaColor}};">{{ctaText}}</a>
          {% endif %}
        </div>
      {%- endif -%}
      {%- if personImage -%}
        <div class="image-wrapper person-image-wrapper full-height">
          <img src="{{ personImage |  img_url: '800x' }}" alt="">
        </div>
			{%- endif -%}
    </div>

</section><!-- /.section section-intro -->
