{% include 'cart_udo' %}
<div id="modalCart">
  <p class="modalCartTrigger cart-close">
    &#x2715;
  </p>
  <div class="modal-content-container {% if cart.item_count <= 0 %}--empty{% endif %}">
    <div class="cart-item-container">
      <div class="cart-title">
        <h3>{{ 'cart.general.title' | t }}</h3>
      </div>
      <div class="cart-items">
        {% if cart.item_count > 0 %}
          {% for item in cart.items %}
            {% include 'cart-item'%}
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="cart-empty-message">
      <p>Your cart is empty.</p>
      <button class="button button--transparent modalCartTrigger">Continue shopping</button>
      <div class="supports-no-cookies">
        <p>{{ 'cart.general.cookies_required' | t }}</p>
      </div>
    </div>

    <div class="cart-summary">
      <div class="promo-code">
        <input type="text" class="coupon-code-input" placeholder="Promo code">
        <button class="coupon-code-button button button--transparent">Apply</button>
        <div class="error-message">
          Invalid promo code
        </div>
        <div class="valid-code">
          <div class="text">
            <div class="title"><span class="code"></span> code applied!</div>
            <div class="checkout-note">Discount will be applied at checkout</div>
          </div>
          <a href="#" class="remove-promo-code">Remove</a>
        </div>
      </div>
      <div class="cart-subtotal">
        <p>{{ 'cart.general.subtotal' | t }}</p>
        <p>{{ cart.total_price | money | remove: ','}}</p>
      </div>
      {% if section.settings.cart_shipping_price %}
      <div class="cart-shipping">
        <p>{{ 'cart.general.shipping' | t }}</p>
        <p>{{ 'cart.general.shipping_price' | t }}</p>
      </div>
      {% endif %}
      {% if cart.total_discounts > 0 %}
        <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
      {% endif %}
      <form action="/cart" method="post" id="cartForm" novalidate>
        <input
          type="submit"
          name="checkout"
          class="button button--full-width"
          value="Checkout"
        >
      </form>
      {% if additional_checkout_buttons %}
        <div class="additional-checkout-buttons">
          {{ content_for_additional_checkout_buttons }}
        </div>
      {% endif %}
      <button class="button button--text modalCartTrigger continue-shopping-button">Continue shopping</button>
    </div>
  </div>
</div>
