{% if cart.item_count > 0 %}
  <div class="modalCartTrigger cart-close">X</div>
  <div class="modal-content-container">

    <div class="cart-item-container">
      <div class="cart-title">
      <h3>{{ 'cart.general.title' | t }}</h3>
    </div>
      {% for item in cart.items %}
        {% include 'cart-item'%}
      {% endfor %}
    </div>

    <div class="cart-summary">
      <div class="cart-subtotal">
        <p>{{ 'cart.general.subtotal' | t }}</p>
        <p>{{ cart.total_price | money }}</p>
      </div>
      {% if cart.total_discounts > 0 %}
        <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
      {% endif %}
      <button class="button">Checkout</button>
      <button class="button button--text modalCartTrigger">Continue shopping</button>
    </div>
{% else %}
  <h1>{{ 'cart.general.title' | t }}</h1>

  {% comment %}
  Cart empty state
  {% endcomment %}
  <div class="supports-cookies">
    <p>{{ 'cart.general.empty' | t }}</p>
    <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
  </div>

  {% comment %}
  Cart no cookies state
  ---------------------
  Browser cookies are required to use the cart. If cookies aren't enabled in the
  browser a message is displayed prompting the user to enable them.
  {% endcomment %}
  <div class="supports-no-cookies">
    <p>{{ 'cart.general.cookies_required' | t }}</p>
  </div>
{% endif %}
</div>