<div id="modalCart">
  <p class="modalCartTrigger cart-close">
    &#x2715;
  </p>
  <div class="modal-content-container {% if cart.item_count <= 0 %}--empty{% endif %}">
    <div class="cart-item-container">
      <div class="cart-title">
        <h3>{{ 'cart.general.title' | t }}</h3>
      </div>
      <div class="cart-items">
        {% if cart.item_count > 0 %}
          {% for item in cart.items %}
            {% include 'cart-item'%}
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="cart-empty-message">
      <p>Your cart is empty.</p>
      <button class="button button--transparent modalCartTrigger">Continue shopping</button>
      <div class="supports-no-cookies">
        <p>{{ 'cart.general.cookies_required' | t }}</p>
      </div>
    </div>

    <div class="cart-summary">
      <div class="cart-subtotal">
        <p>{{ 'cart.general.subtotal' | t }}</p>
        <p>{{ cart.total_price | money }}</p>
      </div>
      {% if cart.total_discounts > 0 %}
        <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
      {% endif %}
      <form action="/cart" method="post" novalidate>
        <input
          type="submit"
          name="checkout"
          class="button button--full-width"
          value="Checkout"
        >
      </form>
      <button class="button button--text modalCartTrigger">Continue shopping</button>
    </div>
  </div>
</div>