{% include 'cart_udo' %}

{{ 'custom-modal-cart.scss' | asset_url | stylesheet_tag }}

{%- assign totalCompareAtPriceSavings = 0 -%}

<div id="modalCart">
  <p class="modalCartTrigger cart-close">
    &#x2715;
  </p>
  <div class="modal-content-container {% if cart.item_count <= 0 %}--empty{% endif %}">
    <div class="cart-item-container">
      <div class="cart-title">
        <h3>{{ 'cart.general.title' | t }}</h3>
      </div>
      <div class="cart-items">
        {% if cart.item_count > 0 %}
          {% for item in cart.items %}
            {% include 'cart-item'%}
        	
        	{% if item.variant.compare_at_price > item.variant.price %}
        		{% assign itemPriceDifference = item.variant.compare_at_price | minus: item.variant.price %}
        		{% assign priceDifferenceBasedOnQuantity = itemPriceDifference | times: item.quantity %}
              	{% assign totalCompareAtPriceSavings = priceDifferenceBasedOnQuantity | plus: totalCompareAtPriceSavings %}
            {% endif %}
        
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="cart-empty-message">
      <p>Your cart is empty.</p>
      <button class="button button--transparent modalCartTrigger">Continue shopping</button>
      <div class="supports-no-cookies">
        <p>{{ 'cart.general.cookies_required' | t }}</p>
      </div>
    </div>

    <div class="cart-summary">
      <div class="promo-code">
        <form>
          <input type="text" class="coupon-code-input" placeholder="Promo code">
          <button class="coupon-code-button button button--transparent">Apply</button>
        </form>
        <div class="error-message">
          Invalid promo code
        </div>
        <div class="valid-code">
          <div class="text">
            <div class="title"><span class="code"></span> code applied!</div>
            <div class="checkout-note">Discount will be applied at checkout</div>
          </div>
          <a href="#" class="remove-promo-code">Remove</a>
        </div>
      </div>
      
      <div class="cart-subtotal">
        <p class="cart-summary-title">{{ 'cart.general.subtotal' | t }}</p>
        <p class="cart-summary-value">{{ cart.total_price | plus: totalCompareAtPriceSavings | money | remove: ','}}</p>
      </div>
      
      {% if totalCompareAtPriceSavings > 0 %}
        <div class="cart-compare-at-price-savings">
          <p class="cart-summary-title">Savings</p>
          <p class="cart-summary-value">-{{ totalCompareAtPriceSavings | money }}</p>
        </div>
      {% endif %}
      
      {% if section.settings.cart_shipping_price %}
        <div class="cart-shipping">
          <p class="cart-summary-title">{{ 'cart.general.shipping' | t }}</p>
          <p class="cart-summary-value">{{ 'cart.general.shipping_price' | t }}</p>
        </div>
      {% endif %}
      
      {% if cart.total_discounts > 0 %}
        <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
      {% endif %}
      
      <div class="cart-estimated-total">
        <p class="cart-summary-title">Estimated total</p>
        <p class="cart-summary-value">{{ cart.total_price | money }}</p>
      </div>
	  <div class="dk-round-up-popup-static"></div>
      <form action="/cart" method="post" id="cartForm" novalidate>
        <input
          type="submit"
          name="checkout"
          class="button button--full-width"
          value="CHECKOUT"
        >
       
        <ul class="cc-icons">
          <li>{% include 'icon-visa-flat' %}</li>
          <li>{% include 'icon-mastercard-flat' %}</li>
          <li>{% include 'icon-amex-flat' %}</li>
          <li>{% include 'icon-discover-flat' %}</li>
        </ul>
       {% comment %}  <ul class="cc-icons">
          <li>{% include 'icon-apple-pay-flat' %}</li>
          <li>{% include 'icon-google-pay' %}</li>
          <li>{% include 'icon-paypal-payment-icon-flat' %}</li>
          <li></li>
        </ul> {% endcomment %}
        
      </form>
      
      {% comment %} {% if additional_checkout_buttons %}
        <div class="additional-checkout-buttons">
          <p class="alt-checkout-title">Or checkout with:</p>
          {{ content_for_additional_checkout_buttons }}
        </div>
      {% endif %} {% endcomment %}
      <button class="button button--text modalCartTrigger continue-shopping-button">Continue shopping</button>
    </div>
  </div>
</div>

{{ 'custom-modal-cart.js' | asset_url | script_tag }}
