{%- if product1.title != ""-%}
<div class="container section section-gap-large ">
  {% if product_grid_header%}<h2 class="product-grid-header">{{product_grid_header}}</h2>{% endif %}
  <div class="section-product-grid" data-col="{% if section.settings.product_three != "" %}3{% else %}2{% endif %}">
    {%- if product1.title != ""-%}
      <a href="{{ product1.url | default: "#" }}" class="product-grid-item">
        <img
        src="//images.accentuate.io?options=w400&shop={{ shop.permanent_domain }}&image={{ product1.metafields.comparison.grid_image }}"
        alt="{{product1.title}}"
      "/>
        <h3>{{ product1.title | default: "Product Title" }}</h3>
        <p>{{ product1.price | money | default: "$1.99" | remove: "," }}</p>
      </a>
    {%- endif -%}
    {%- if product2.title != ""-%}
      <a href="{{ product2.url | default: "#" }}" class="product-grid-item">
      <img
        src="//images.accentuate.io?options=w400&shop={{ shop.permanent_domain }}&image={{ product2.metafields.comparison.grid_image }}"
        alt="{{product2.title}}"
      "/>
        {% comment %} <img src="{{product2.metafields.comparison.grid_image }}" alt="{{product2.title}}"/> {% endcomment %}
        <h3>{{ product2.title | default: "Product Title" }}</h3>
        <p>{{ product2.price | money | default: "$1.99" | remove: "," }}</p>
      </a>
    {%- endif -%}
    {%- if product3.title != ""-%}
      <a href="{{ product3.url | default: "#" }}" class="product-grid-item">
        <img
        src="//images.accentuate.io?options=w400&shop={{ shop.permanent_domain }}&image={{ product3.metafields.comparison.grid_image }}"
        alt="{{product3.title}}"
      "/>
        <h3>{{ product3.title | default: "Product Title" }}</h3>
        <p>{{ product3.price | money | default: "$1.99" | remove: "," }}</p>
      </a>
    {%- endif -%}
  </div>
</div>
{%- endif -%}
