{% comment %}
The if/unless would not play together well...no idea...
{% endcomment %}
{% if section.settings.disable_featured_reviews != true %}
{% unless product.metafields.featured_review.disabled %}
<div class="featured-reviews scroll-section featured-reviews-product-template">
  <div class="container">
    <h2><span>{{ section.settings.review_title }}</span></h2>
  </div>

  <div class="scroll-container">
    {% if product.metafields.featured_review.reviewer_name[0] %}

      {% for value in product.metafields.featured_review.reviewer_name %}
        <div class="review scroll-item">
          <div class="reviewer">
            <div class="details">
              <span class="name">{{ product.metafields.featured_review.reviewer_name[forloop.index0] }}</span>
            </div>
          </div>
          <div class="rating">
            {% for i in (1..5) %}
              <svg class="star" width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.46949 5.81603L8.73172 1.233C9.02213 0.644663 9.8611 0.644663 10.1515 1.233L12.4137 5.81603L17.4728 6.55549C18.1219 6.65036 18.3806 7.44824 17.9107 7.90595L14.2506 11.4708L15.1144 16.5071C15.2253 17.1539 14.5464 17.647 13.9656 17.3416L9.44162 14.9625L4.9176 17.3416C4.33681 17.647 3.65792 17.1539 3.76884 16.5071L4.63262 11.4708L0.972578 7.90595C0.50265 7.44824 0.761354 6.65036 1.41045 6.55549L6.46949 5.81603Z" fill="#4B2BF5"/>
              </svg>
            {% endfor %}
          </div>
          <h3>{{ product.metafields.featured_review.headline[forloop.index0] }}</h3>
          <p>{{ product.metafields.featured_review.body[forloop.index0] }}</p>
        </div>
      {% endfor %}

    {% else %}

      {% for content in section.blocks %}
        {% if content.type == 'review' %}
        <div class="review scroll-item">
          <div class="reviewer">
            <div class="details">
              <span class="name">{{ content.settings.name }}</span>
            </div>
          </div>
          <div class="rating">
            {% for i in (1..5) %}
              <svg class="star" width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.46949 5.81603L8.73172 1.233C9.02213 0.644663 9.8611 0.644663 10.1515 1.233L12.4137 5.81603L17.4728 6.55549C18.1219 6.65036 18.3806 7.44824 17.9107 7.90595L14.2506 11.4708L15.1144 16.5071C15.2253 17.1539 14.5464 17.647 13.9656 17.3416L9.44162 14.9625L4.9176 17.3416C4.33681 17.647 3.65792 17.1539 3.76884 16.5071L4.63262 11.4708L0.972578 7.90595C0.50265 7.44824 0.761354 6.65036 1.41045 6.55549L6.46949 5.81603Z" fill="#4B2BF5"/>
              </svg>
            {% endfor %}
          </div>
          <h3>{{ content.settings.title }}</h3>
          <p>{{ content.settings.content }}</p>
        </div>
        {% endif %}
      {% endfor %}

    {% endif %}
  </div>
  <div class="container">
    <div class="actions">
      <a class="button button--transparent--outline" href="#yotpo-reviews">See All Reviews</a>
    </div>
  </div>
</div>
{% endunless %}
{% endif %}
