{% assign product_collection = collections["teeth-whitening"] %}
<div>
  <h2 class="product-table--title">{{ product_collection.title  }} comparison</h2>
  <div class="product-table-scroll-wrapper">
  <table class="product-table">
    <thead>
      {% comment %} one empty space for table layout {% endcomment %}
      <th></th>
      {% for product in product_collection.products %}
          {% if product.has_only_default_variant %}
            <th>
              <a href="{{ product.url | default: "#" }}">
                <img
                src="//images.accentuate.io?options=w400&shop={{ shop.permanent_domain }}&image={{ product.metafields.comparison.grid_image }}" alt="{{product.title}}">
              </a>
            </th>
          {% else %}
            {% for variant in product.variants %}
              <th>
                <a href="{{ variant.url | default: "#" }}">
                  <img
                  src="//images.accentuate.io?options=w400&shop={{ shop.permanent_domain }}&image={{ variant.metafields.comparison.grid_image }}" alt="{{product.title}} - {{variant.title}}">
                </a>
              </th>
            {%  endfor %}
          {% endif %}
        {%  endfor %}
    </thead>
    <tbody>
      <tr class="product-title-row">
        <th>Product</th>
        {% for product in product_collection.products %}
          {% if product.has_only_default_variant %}
            <td >
              <a href="{{ product.url | default: "#" }}">{{product.title}}</a>
            </td>
          {% else %}
            {% for variant in product.variants %}
              <td >
                <a href="{{ variant.url | default: "#" }}">{{product.title}} - {{variant.title}}</a>
              </td>
            {%  endfor %}
          {% endif %}
        {%  endfor %}
      </tr>
      <tr>
        <th>Price</th>
        {% for product in product_collection.products %}
          {% if product.has_only_default_variant %}
            <td data-label="{{product.title}}">{{product.price | money}}</td>
          {% else %}
            {% for variant in product.variants %}
              <td data-label="{{product.title}} - {{variant.title}}">{{variant.price | money}}</td>
            {%  endfor %}
          {% endif %}
        {%  endfor %}
      </tr>
      {% comment %} <tr>
        <th>Value</th>
        {% for product in product_collection.products %}
          {% if product.has_only_default_variant %}
            <td data-label="{{product.title}}">{{product.metafields.comparison.product_value}}</td>
          {% else %}
            {% for variant in product.variants %}
              <td data-label="{{product.title}} - {{variant.title}}">{{variant.metafields.comparison.product_value}}</td>
            {%  endfor %}
          {% endif %}
        {%  endfor %}
      </tr> {% endcomment %}
      <tr>
        <th>Pens</th>
        {% for product in product_collection.products %}
          {% if product.has_only_default_variant %}
            <td data-label="{{product.title}}">{{product.metafields.comparison.pen_count}}</td>
          {% else %}
            {% for variant in product.variants %}
              <td data-label="{{product.title}} - {{variant.title}}">{{variant.metafields.comparison.pen_count}}</td>
            {%  endfor %}
          {% endif %}
        {%  endfor %}
      </tr>
      <tr>
        <th>Light</th>
        {% for product in product_collection.products %}
          {% if product.has_only_default_variant %}
            <td data-label="{{product.title}}">
              {% if product.metafields.comparison.includes_light %}<i class="fas fa-check"></i>{% endif %}
            </td>
          {% else %}
            {% for variant in product.variants %}
              <td data-label="{{product.title}} - {{variant.title}}">
                {% if variant.metafields.comparison.includes_light %}<i class="fas fa-check"></i>{% endif %}
              </td>
            {%  endfor %}
          {% endif %}
        {%  endfor %}
      </tr>
      <tr>
        <th>Full Treatments</th>
        {% for product in product_collection.products %}
          {% if product.has_only_default_variant %}
            <td data-label="{{product.title}}">{{product.metafields.comparison.eight_day_treatments}}</td>
          {% else %}
            {% for variant in product.variants %}
              <td data-label="{{product.title}} - {{variant.title}}">{{variant.metafields.comparison.eight_day_treatments}}</td>
            {%  endfor %}
          {% endif %}
        {%  endfor %}
      </tr>
      <tr>
        <th>Months of Enbrightenment</th>
        {% for product in product_collection.products %}
          {% if product.has_only_default_variant %}
            <td data-label="{{product.title}}">{{product.metafields.comparison.months_enbrightenment}}</td>
          {% else %}
            {% for variant in product.variants %}
              <td data-label="{{product.title}} - {{variant.title}}">{{variant.metafields.comparison.months_enbrightenment}}</td>
            {%  endfor %}
          {% endif %}
        {%  endfor %}
      </tr>
    </tbody>
  </table>
</div>
