
<div
  id="promo-modal"
  class="modal promo-modal"
  data-promo="{{section.settings.promo_modal_code}}"
>
  <p class="modalCloseTrigger close-action">
    &#x2715;
  </p>
  <div
    class="promo-modal--image-wrapper"
    style="background-image: url({{ section.settings.promo_modal_image |  img_url: '500x' }})"
  >
  </div>
  <div class="promo-modal--content">
    <div class="default">
      <h3 class="title">{{section.settings.promo_modal_heading}}</h3>
      <form action="/contact" id="promoEntry">
        <input
          type="email"
          class="email-input"
          name="contact[email]"
          placeholder="Enter your email address"
          autocorrect="off"
          autocapitalize="off"
          required
        >
        <input type="hidden" name="form_type" value="customer">
        <input type="hidden" name="utf8" value="✓">
        <input type="hidden" name="contact[tags]"
          value="promoModalEntry, promo-{{section.settings.promo_modal_code}}"
        >
        <div class="promo-modal--button-wrapper">
          <div class="loader"><i class="fas fa-spinner fa-spin"></i></div>
          <input
            type="submit"
            class="button button--transparent button--full-width trigger"
            value="{{section.settings.promo_modal_cta_text}}">
        </div>
      </form>
      <p class="promo-modal--disclaimer">{{section.settings.promo_modal_disclaimer}}</p>
    </div>
    <div class="success">
      <h3 class="title">{{section.settings.promo_modal_success_heading}}</h3>
      <p
        class="promo-code"
      >
        <span id="promo-code-value">{{section.settings.promo_modal_code}}</span>
        <span class="copy-button" data-clipboard-target="#promo-code-value">Copy</span>
      </p>
      <div class="copy-messages">
        <p class="copy-message copy-message--success">Copied!</p>
        <p class="copy-message copy-message--error">Darn. Copy failed.</p>
      </div>
      <p class="promo-modal--disclaimer">{{section.settings.promo_modal_success_disclaimer}}</p>
    </div>
    <div class="error">
      <h3 class="title">Bummer.</h3>
      <p>There was an error adding your email address. Please contact <a href="mailto:support@smiledirectclub.com">support</a> for additional assistance.</p>
    </div>
  </div>
</div>
