
<div
  id="promo-modal"
  class="modal promo-modal"
  data-promo="{{section.settings.promo_modal_code | default: 'requiredCode'}}"
>
  <p class="modalCloseTrigger close-action">
    &#x2715;
  </p>
  <div class="promo-modal--content">
    <div class="default">
      <h2 class="title">{{section.settings.promo_modal_heading}}</h2>
      <form action="/contact" id="promoEntry">
        <input
          type="email"
          class="email-input"
          name="contact[email]"
          placeholder="Enter your email address"
          autocorrect="off"
          autocapitalize="off"
          required
        >
        <input type="hidden" name="form_type" value="customer">
        <input type="hidden" name="utf8" value="✓">
        <input type="hidden" name="contact[tags]"
          value="promoModalEntry, promo-{{section.settings.promo_modal_code | default: 'requiredCode'}}"
        >
        <div class="promo-modal--button-wrapper">
          <input
            type="submit"
            class="button"
            value="{{section.settings.promo_modal_cta_text}}"
          >
          <div class="loading-indicator">
          <p><i class="fas fa-spinner fa-spin"></i> Loading</p>
          </div>
        </div>
      </form>
      <div class="promo-modal--disclaimer">{{section.settings.promo_modal_disclaimer}}</div>
    </div>
    <div class="success">
      <h2 class="title">{{section.settings.promo_modal_success_heading}}</h2>
      {% if section.settings.promo_modal_show_code %}
        <p
          class="promo-code"
        >
          <span id="promo-code-value">{{section.settings.promo_modal_code}}</span>
          <span class="copy-button" data-clipboard-target="#promo-code-value">Copy</span>
        </p>
        <div class="copy-messages">
          <p class="copy-message copy-message--success">Copied!</p>
          <p class="copy-message copy-message--error">Darn. Copy failed.</p>
        </div>
      {%  endif %}
      {% if section.settings.promo_modal_success_message %}
        <p class="promo-modal--success-message">{{section.settings.promo_modal_success_message}}</p>
      {%  endif %}
      <button class="button modalCloseTrigger">Start Shopping</button>
      <div class="promo-modal--disclaimer">{{section.settings.promo_modal_success_disclaimer}}</div>
    </div>
    <div class="error">
      <h3 class="title">Bummer.</h3>
      <p>There was an error adding your email address. Please contact <a href="mailto:support@smiledirectclub.com">support</a> for additional assistance.</p>
    </div>
  </div>
</div>
