
<div
  id="promo-modal"
  class="modal promo-modal"
  data-promo="{{section.settings.promo_modal_code}}"
>
  <p class="modalCloseTrigger close-action">
    &#x2715;
  </p>
  <div
    class="promo-modal--image-wrapper"
    style="background-image: url({{ section.settings.promo_modal_image |  img_url: '500x' }})"
  >
  </div>
  <div class="promo-modal--content">
    <div class="default">
      <h3 class="title">{{section.settings.promo_modal_heading}}</h3>
      <form action="#" id="promoEntry">
        <input type="email" class="email-input" placeholder="Enter your email address" required>
        <input type="submit" class="button button--transparent button--full-width"value="{{section.settings.promo_modal_cta_text}}">
      </form>
      <p class="promo-modal--disclaimer">{{section.settings.promo_modal_disclaimer}}</p>
    </div>
    <div class="success">
      <h3 class="title">{{section.settings.promo_modal_success_heading}}</h3>
      <p
        class="promo-code"
      >
        <span id="promo-code-value">{{section.settings.promo_modal_code}}</span>
        <span class="copy-button" data-clipboard-target="#promo-code-value">Copy</span>
      </p>
      <div class="copy-messages">
        <p class="copy-message copy-message--success">Copied!</p>
        <p class="copy-message copy-message--error">Darn. Copy failed.</p>
      </div>
      <p class="promo-modal--disclaimer">{{section.settings.promo_modal_success_disclaimer}}</p>
    </div>
  </div>
</div>
