<div class="yotpo-section section section-gap-large">
  <h2>{{ yotpo_header | default: "Glowing and Grinning Reviews" }}</h2>
  <div class="yotpo yotpo-main-widget"
    data-product-id="{{ yotpo_product_id | default: product.id }}"
    data-price="{{ variant.price | money_without_currency }}"
    data-currency="{{ shop.currency }}"
    data-name="{{ product.title | escape }}"
    data-url="{{ shop.url }}{{ product.url }}"
    data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
    data-description="{{ product.description | escape }}">
    <p>Loading...</p>

  </div>
</div>

  {% comment %} <script type="text/javascript">
  (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/pwdVeBOMxGrnA10kV4Jx5m8RylnMMEWFCPfNf8Q3/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
  </script> {% endcomment %}

<script type="text/javascript">
(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/{{yotpo_widget_id | default: 'pwdVeBOMxGrnA10kV4Jx5m8RylnMMEWFCPfNf8Q3'}}/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
</script>
