<div class="section-account container">
  <a class="link-account-return" href="/account">
    &laquo; {{ 'customer.account.return' | t }}
  </a>

  {% paginate customer.addresses by 5 %}

    <div class="section-account-details">
      <h2>{{ 'customer.addresses.title' | t }}</h2>

      {% for address in customer.addresses %}
        <div class="customer-address">
          {% if address == customer.default_address %}
            <p><strong>{{ 'customer.addresses.default' | t }}</strong></p>
          {% endif %}

          {{ address | format_address }}

          <div class="address-actions">
            <button type="button" class="address-edit-toggle button button--outline button--small"
              data-form-id="{{ address.id }}">
              {{ 'customer.addresses.edit' | t }}
            </button>

            {% unless address == customer.default_address %}
              <form id="delete-{{address.id}}" method="POST" action="/account/addresses/{{address.id}}">
              <input type="hidden" name="_method" value="delete" />
              <button type="submit" class="button button--text address-delete" data-form-id="delete-{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                {{ 'customer.addresses.delete' | t }}
              </button>
            </form>
            {% endunless %}
          </div>

          <div id="EditAddress_{{ address.id }}" class="form-address hide">
            {% form 'customer_address', address %}

            <h4>{{ 'customer.addresses.edit_address' | t }}</h4>

            <label for="AddressFirstName_{{ form.id }}">
              {{ 'customer.addresses.first_name' | t }}
            </label>
            <input type="text"
                   name="address[first_name]"
                   id="AddressFirstName_{{ form.id }}"
                   value="{{ form.first_name }}"
                   autocapitalize="words">

            <label for="AddressLastName_{{ form.id }}">
              {{ 'customer.addresses.last_name' | t }}
            </label>
            <input type="text"
                   name="address[last_name]"
                   id="AddressLastName_{{ form.id }}"
                   value="{{ form.last_name }}"
                   autocapitalize="words">

            <label for="AddressCompany_{{ form.id }}">
              {{ 'customer.addresses.company' | t }}
            </label>
            <input type="text"
                   name="address[company]"
                   id="AddressCompany_{{ form.id }}"
                   value="{{ form.company }}"
                   autocapitalize="words">

            <label for="AddressAddress1_{{ form.id }}">
              {{ 'customer.addresses.address1' | t }}
            </label>
            <input type="text"
                   name="address[address1]"
                   id="AddressAddress1_{{ form.id }}"
                   value="{{ form.address1 }}"
                   autocapitalize="words">

            <label for="AddressAddress2_{{ form.id }}">
              {{ 'customer.addresses.address2' | t }}
            </label>
            <input type="text"
                   name="address[address2]"
                   id="AddressAddress2_{{ form.id }}"
                   value="{{ form.address2 }}"
                   autocapitalize="words">

            <label for="AddressCity_{{ form.id }}">
              {{ 'customer.addresses.city' | t }}
            </label>
            <input type="text"
                   name="address[city]"
                   id="AddressCity_{{ form.id }}"
                   value="{{ form.city }}"
                   autocapitalize="words">

            <label for="AddressCountry_{{ form.id }}">
              {{ 'customer.addresses.country' | t }}
            </label>
            <select
              name="address[country]"
              id="AddressCountry_{{ form.id }}"
              class="address-country-option"
              data-form-id="{{ form.id }}"
              data-default="{{ form.country }}">
              {{ country_option_tags }}
            </select>

            <div id="AddressProvinceContainer_{{ form.id }}" style="display: none">
              <label for="AddressProvince_{{ form.id }}">
                {{ 'customer.addresses.province' | t }}
              </label>
              <select
                name="address[province]"
                id="AddressProvince_{{ form.id }}"
                data-default="{{ form.province }}">
              </select>
            </div>

            <label for="AddressZip_{{ form.id }}">
              {{ 'customer.addresses.zip' | t }}
            </label>
            <input type="text"
                   name="address[zip]"
                   id="AddressZip_{{ form.id }}"
                   value="{{ form.zip }}"
                   autocapitalize="characters">

            <label for="AddressPhone_{{ form.id }}">
              {{ 'customer.addresses.phone' | t }}
            </label>
            <input type="tel"
                   name="address[phone]"
                   id="AddressPhone_{{ form.id }}"
                   value="{{ form.phone }}"
                   pattern="[0-9\-]*">

            <label class="set-as-default" for="address_default_address_{{ form.id }}">
              {{ form.set_as_default_checkbox }}
              {{ 'customer.addresses.set_default' | t }}
            </label>

            <input type="submit" class="button" value="{{ 'customer.addresses.update' | t }}">
            <button type="button" class="address-edit-toggle" data-form-id="{{ form.id }}">
              {{ 'customer.addresses.cancel' | t }}
            </button>

            {% endform %}

          </div>
        </div>
      {% endfor %}

      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}
    </div>

  {% endpaginate %}

  <div class="section-account-details">
    <button type="button" class="button address-new-toggle">{{ 'customer.addresses.add_new' | t }}</button>
  </div>

  <div id="AddressNewForm" class="hide form-address section-account-details">
    <h2>{{ 'customer.addresses.add_new' | t }}</h2>
    {% form 'customer_address', customer.new_address %}

    <label for="AddressFirstNameNew">
      {{ 'customer.addresses.first_name' | t }}
    </label>
    <input type="text"
           name="address[first_name]"
           id="AddressFirstNameNew"
           value="{{ form.first_name }}"
           autocapitalize="words">

    <label for="AddressLastNameNew">
      {{ 'customer.addresses.last_name' | t }}
    </label>
    <input type="text"
           name="address[last_name]"
           id="AddressLastNameNew"
           value="{{ form.last_name }}"
           autocapitalize="words">

    <label for="AddressCompanyNew">
      {{ 'customer.addresses.company' | t }}
    </label>
    <input type="text"
           name="address[company]"
           id="AddressCompanyNew"
           value="{{ form.company }}"
           autocapitalize="words">

    <label for="AddressAddress1New">
      {{ 'customer.addresses.address1' | t }}
    </label>
    <input type="text"
           name="address[address1]"
           id="AddressAddress1New"
           value="{{ form.address1 }}"
           autocapitalize="words">

    <label for="AddressAddress2New">
      {{ 'customer.addresses.address2' | t }}
    </label>
    <input type="text"
           name="address[address2]"
           id="AddressAddress2New"
           value="{{ form.address2 }}"
           autocapitalize="words">

    <label for="AddressCityNew">
      {{ 'customer.addresses.city' | t }}
    </label>
    <input type="text"
           name="address[city]"
           id="AddressCityNew"
           value="{{ form.city }}"
           autocapitalize="words">

    <label for="AddressCountryNew">
      {{ 'customer.addresses.country' | t }}
    </label>
    <select
      name="address[country]"
      id="AddressCountryNew"
      data-default="{{ form.country }}">
      {{ country_option_tags }}
    </select>

    <div id="AddressProvinceContainerNew" style="display: none">
      <label for="AddressProvinceNew">
        {{ 'customer.addresses.province' | t }}
      </label>
      <select
        name="address[province]"
        id="AddressProvinceNew"
        data-default="{{ form.province }}">
      </select>
    </div>

    <label for="AddressZipNew">
      {{ 'customer.addresses.zip' | t }}
    </label>
    <input type="text"
           name="address[zip]"
           id="AddressZipNew"
           value="{{ form.zip }}"
           autocapitalize="characters">

    <label for="AddressPhoneNew">
      {{ 'customer.addresses.phone' | t }}
    </label>
    <input type="tel"
           name="address[phone]"
           id="AddressPhoneNew"
           value="{{ form.phone }}"
           pattern="[0-9\-]*">

    <label class="set-as-default" for="address_default_address_new">
      {{ form.set_as_default_checkbox }}
      {{ 'customer.addresses.set_default' | t }}
    </label>

    <input type="submit" class="button" value="{{ 'customer.addresses.add' | t }}">
    <button type="button" class="button button--text address-new-toggle">
      {{ 'customer.addresses.cancel' | t }}
    </button>

    {% endform %}

  </div>
</div>


