{%- assign bg_color = section.settings.background_color -%}
{%- assign bannerImage = section.settings.banner_image -%}
{%- assign extraClasses = section.settings.extra_class -%}


<div class="container">
  <section
    class="section section-banner section-banner--stats {% if extraClasses %}{{extraClasses}}{% endif %}"
    style="background-color: {{bg_color}};"
  >
        <div class="banner-segment banner-image">
          {%- if bannerImage -%}
            <img src="{{ bannerImage |  img_url: '600x' }}" alt="">
          {%- endif -%}
        </div>
        <div class="banner-segment banner-stats">
          <h2 class="banner-stats__headline">{{section.settings.title}}</h2>
          <div class="banner-stat__list">
            {% for block in section.blocks %}
              <div class="banner-stat">
                <div class="banner-stat__icon">
                  {% include {{block.settings.stat_icon}} %}
                </div>
                <div class="banner-stat__text">
                  <h5>{{block.settings.stat_heading}}</h5>
                  <p>{{block.settings.stat_body}}</p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
  </section><!-- /.section section-intro -->
</div>
{% schema %}
{
	"name": "Stat Banner",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#F7F5F2"
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Bright Boost formula"
    },
    {
      "type": "text",
      "id": "extra_class",
      "label": "Extra Classes"
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "type": "stat",
      "name": "Stats",
      "settings": [
        {
          "id": "stat_heading",
          "type": "text",
          "label": "Stat Heading"
        },
        {
          "id": "stat_body",
          "type": "text",
          "label": "Stat Body"
        },
        {
          "type": "select",
          "id": "stat_icon",
          "options": [
              { "value": "smile", "label": "Smile Icon"},
              { "value": "clock", "label": "Clock Icon"},
              { "value": "pen", "label": "Pen Icon"}
          ],
          "label": "Stat Icon"
        }
      ]
    }
  ],
	"presets": [
		{
			"name": "Stat Banner",
			"category": "content"
		}
	]
}
{% endschema %}

