{%- assign bg_color = section.settings.background_color -%}
{%- assign bannerImage = section.settings.banner_image -%}
{%- assign isSwapped = section.settings.swap -%}
{%- assign topAlign = section.settings.top_align -%}
{%- assign ctaLink = section.settings.cta_link -%}
{%- assign extraClasses = section.settings.extra_class -%}


<div class="container">
  <section
    class="section section-banner {% if isSwapped %}swap{% endif %} {% if extraClasses %}{{extraClasses}}{% endif %} {% if topAlign %}top-align{% endif %}"
    style="background-color: {{bg_color}};"
  >
        <div class="banner-segment banner-text">
          <h2>{{ section.settings.title | escape }}</h2>
          {{ section.settings.text }}
          {% if ctaLink %}
            <a href="{{ctaLink}}" class="banner-cta button button--transparent">Shop now</a>
          {% endif %}
        </div>
        <div class="banner-segment banner-image">
          {%- if bannerImage -%}
            <img src="{{ bannerImage |  img_url: '400x' }}" alt="">
          {%- endif -%}
        </div>
  </section><!-- /.section section-intro -->
</div>
{% schema %}
{
	"name": "Banner",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#F7F5F2"
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Image"
    },
    {
      "type": "checkbox",
      "id": "top_align",
      "default": false,
      "label": "Top Align Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Bright Boost formula"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Our proprietary formula is designed to work, in just 5 minutes, on even the most sensitive teeth. So everyone can achieve their brightest bright.</p>"
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "CTA Link"
    },
    {
      "type": "checkbox",
      "id": "swap",
      "label": "Swap image order",
      "default": false
    },
    {
      "type": "text",
      "id": "extra_class",
      "label": "Extra Classes"
    }
  ],
	"presets": [
		{
			"name": "Banner",
			"category": "content"
		}
	]
}
{% endschema %}
