{%- assign _section = section.settings -%}
<footer class="footer">
	<div class="shell">
		<a href="/" class="logo footer__logo notext">{{ shop.name }}</a>

		{%- if _section.nav != empty -%}
			<div class="footer__nav">
				{%- include 'menu', handle: _section.nav -%}
			</div><!-- /.footer__nav -->
		{%- endif -%}

		<div class="email-signup-wrapper">
			{% form 'customer' %}
				{% if form.posted_successfully? %}
					<span class="email-confirmation">{{ 'general.newsletter_form.confirmation' | t }}</span>
				{% else %}
					<input id="contact_tags" name="contact[tags]" type="hidden" value="prospect,newsletter" />
					<input id="contact_email" name="contact[email]" type="email" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" />
					<button type="submit">
						<svg width="25" height="25" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M8.00033 0.666748C3.93366 0.666748 0.666992 3.93341 0.666992 8.00008C0.666992 12.0667 3.93366 15.3334 8.00033 15.3334C12.067 15.3334 15.3337 12.0667 15.3337 8.00008C15.3337 3.93341 12.067 0.666748 8.00033 0.666748ZM8.00033 14.0001C4.66699 14.0001 2.00033 11.3334 2.00033 8.00008C2.00033 4.66675 4.66699 2.00008 8.00033 2.00008C11.3337 2.00008 14.0003 4.66675 14.0003 8.00008C14.0003 11.3334 11.3337 14.0001 8.00033 14.0001ZM11.267 7.73341C11.267 7.80008 11.3337 7.86675 11.3337 8.00008C11.3337 8.06675 11.3337 8.20008 11.267 8.26675C11.267 8.33341 11.2003 8.40008 11.1337 8.46675L8.46699 11.1334C8.33366 11.2667 8.20033 11.3334 8.00033 11.3334C7.80032 11.3334 7.66699 11.2667 7.53366 11.1334C7.26699 10.8667 7.26699 10.4667 7.53366 10.2001L9.06699 8.66675H5.33366C4.93366 8.66675 4.66699 8.40008 4.66699 8.00008C4.66699 7.60008 4.93366 7.33341 5.33366 7.33341H9.06699L7.53366 5.80008C7.26699 5.53341 7.26699 5.13341 7.53366 4.86675C7.80033 4.60008 8.20033 4.60008 8.46699 4.86675L11.1337 7.53341C11.2003 7.60008 11.267 7.66675 11.267 7.73341Z" fill="#666666"></path>
						</svg>
					</button>
				{% endif %}
			{% endform %}
        </div>

		{%- capture socials -%}
			social_facebook_link|fa-facebook-f
			social_instagram_link|fa-instagram
			social_pinterest_link|fa-pinterest-p
			social_twitter_link|fa-twitter
			social_youtube_link|fa-youtube
			social_snapchat_link|fa-snapchat-ghost
		{%- endcapture -%}
		{%- assign socialsArray = socials | newline_to_br | split: '<br />' -%}

		<div class="footer__socials">
			<ul>
				{%- for social in socialsArray -%}
					{%- assign socialArray = social | split: "|" -%}
					{%- assign socialUrl = socialArray[0] | strip -%}
					{%- assign socialIcon = socialArray[1] | strip -%}

					{%- if settings[socialUrl] == empty -%}
						{%- continue -%}
					{%- endif -%}

					<li>
						<a href="{{ settings[socialUrl] }}" target="_blank">
							<i class="fab {{ socialIcon }}"></i>
						</a>
					</li>
				{%- endfor -%}
			</ul>
		</div><!-- /.footer__socials -->

		<div class="footer__copyright copyright">
			<p>{{ 'layout.footer.copyright' | t }}</p>
		</div><!-- /.copyright -->

		{%- if _section.links != empty -%}
			<div class="footer__links">
				{%- include 'menu', handle: _section.links -%}
			</div><!-- /.footer__links -->
		{%- endif -%}
	</div><!-- /.shell -->
</footer><!-- /.footer -->

{% schema %}
{
	"name": "Footer",
	"settings": [
		{
			"type": "link_list",
			"id": "nav",
			"label": "Navigation"
		},
		{
			"type": "link_list",
			"id": "links",
			"label": "Links"
		}
	]
}
{% endschema %}
