{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Header" section in the theme editor.

  Theme Store required settings
  - Show announcement
  - Text: message to announce
  - Link: link of the announcement bar

  Theme Store optional settings
  - Home page only: only shows on the home page
{%- endcomment -%}
<section data-section-id="{{ section.id }}" data-section-type="header">
  {%- if section.settings.announcement_bar_enabled -%}
    <div class="announcement-bar">
      {%- if section.settings.announcement_bar_home_page_only == false or template.name == 'index' -%}
        {%- if section.settings.announcement_bar_link != blank -%}
          <a href="{{ section.settings.announcement_bar_link }}">
            {{ section.settings.announcement_bar_text | escape }}
          </a>
        {%- else -%}
          <p>{{ section.settings.announcement_bar_text | escape }}</p>
        {%- endif -%}
      {%- endif -%}
    </div>
  {%- endif -%}
  <div class="main-site-link">
    <div class="container">
      <a href="https://smiledirectclub.com/" target="_blank">SmileDirectClub.com
        <span>{% include 'icon-arrow-circle-right' %}</span>
      </a>
    </div>
    {%- if section.settings.promo_modal_test -%}
      <div>
      <button class="button button--transparent modalTrigger">
        Trigger modal
      </button>
    </div>
    {%- endif -%}
  </div>
  <header role="banner">
    <div class="container">
      <a class="logo-wrapper" href="/">
        {% include 'sdc-store-logo' %}
      </a>
      <nav role="navigation">
        <ul>
        {% for link in linklists[section.settings.menu].links %}
          {% if link.links != blank %}
            <li>
              <a href="{{ link.url }}">
                {{ link.title }}
                {% include 'icon-arrow-down' %}
              </a>
              <ul>
                {% for childlink in link.links %}
                  <li>
                    <a href="{{ childlink.url }}">
                      {{ childlink.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li data-url="{{ link.url }}" class="
            {% assign link_title = link.title | downcase %}
            {% if product %}
              {% for collection in product.collections %}
                {% assign collection_title = collection.title | downcase %}
                {% if collection_title contains link_title %} active-nav-item {% endif %}
              {% endfor %}
            {% else %}
              {% assign collection_title = collection.title | downcase %}
              {% if collection_title contains link_title %} active-nav-item {% endif %}
            {% endif %}
            ">
              <a href="{{ link.url }}">
                <span>{{ link.title }}</span>
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>

    <form action="/search" class="headerSearch" role="search">
      <input type="hidden" name="type" value="product">
      <input type="search" name="q" placeholder="{{ 'general.search.placeholder' | t }}">
      <button type="submit">
        {% include 'icon-search' %}
        <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
      </button>
    </form>

    {% if shop.customer_accounts_enabled %}
      {% if customer %}
        <a href="/account" class="link-nav account {% if template contains 'customers' %} active {% endif %}">
          <span>{% include 'icon_account_svg' %}</span>
        </a>
        {% comment %}TODO Dropdown menu here ^{% endcomment %}
      {% else %}
        <a href="/account/login" class="link-nav account {% if template contains 'customers' %} active {% endif %}">
          <span>{% include 'icon_account_svg' %}</span>
        </a>
      {% endif %}
    {% endif %}

    <a href="#cart" class="link-nav cart-wrapper  {% if template != 'cart' %}modalCartTrigger{% endif %}">
      <span class="cart-icon-wrapper">{% include 'icon_cart_svg' %}</span>
		{% assign cart_count = 0 %}
		{% for item in cart.items %}
			{% if item.vendor == 'DailyKarma' %}
				{% assign cart_count = cart_count | plus: 1 %}
			{% else %}
				{% assign cart_count = cart_count | plus: item.quantity %}
			{% endif %}
		{% endfor %}      
      <span class="cart-count-wrapper {% if cart.item_count == 0 %}hide{% endif %}">
        {{ cart_count }}
      </span>
    </a>

    <div class="hamburger">
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
    </div>
    </div>
  </header>
</section>

{% include 'mobile-menu'%}

{% include 'modal-cart' %}

{%- if section.settings.promo_modal_enabled -%}
  {% include 'promo-modal'%}
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
{%- endif -%}

{% if section.settings.logo != blank %}
  <style>
    .logo-image {
      display: block;
      max-width: {{ section.settings.logo_max_width }}px;
    }
  </style>
{% endif %}

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Promo Code Modal"
      },
      {
        "type": "checkbox",
        "id": "promo_modal_enabled",
        "label": "Show Promo Modal",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "promo_modal_test",
        "info": "DO NOT PUBLISH WITH THIS ACTIVATED",
        "label": "Show Promo Modal Test Button",
        "default": false
      },
      {
        "type": "text",
        "id": "promo_modal_heading",
        "label": "Promo Code Heading",
        "default": "Announce something here"
      },
      {
        "type": "richtext",
        "id": "promo_modal_disclaimer",
        "label": "Promo Code Disclaimer",
        "default": "<p>Only valid one per customer</p>"
      },
      {
        "type": "text",
        "id": "promo_modal_cta_text",
        "label": "Promo Code CTA Text",
        "default": "Get your promo code"
      },
      {
        "type": "text",
        "id": "promo_modal_code",
        "label": "Promo Code",
        "default": "requiredCode"
      },
      {
        "type": "checkbox",
        "id": "promo_modal_show_code",
        "info": "If you do not show the promo code then success message should be filled out",
        "label": "Show Promo Code",
        "default": true
      },
      {
        "type": "text",
        "id": "promo_modal_success_heading",
        "label": "Promo Code Sucesss Heading",
        "default": "Copy the code below"
      },
      {
        "type": "text",
        "id": "promo_modal_success_message",
        "label": "Promo Code Sucesss Message",
        "default": "Check your email to recieve your code"
      },
      {
        "type": "richtext",
        "id": "promo_modal_success_disclaimer",
        "label": "Promo Code Sucesss Disclaimer"
      },
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_enabled",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_home_page_only",
        "label": "Show on home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "announcement_bar_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "announcement_bar_link",
        "label": "Announcement link",
        "info": "Optional"
      },
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "header",
        "content": "Cart"
      },
      {
        "type": "checkbox",
        "id": "cart_shipping_price",
        "label": "Show 'Shipping FREE' in cart",
        "default": false
      }
    ]
  }
{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}
