{%- assign bg_color = section.settings.background_color -%}
{%- assign logoImage = section.settings.logo_image -%}
{%- assign personImage = section.settings.person_image -%}
{%- assign ctaLink = section.settings.cta_link -%}
{%- assign ctaText = section.settings.cta_text -%}

<section class="section section-masthead full-width" style="background-color: {{bg_color}};">
    <div class="container">
    	{%- if logoImage -%}
        <div class="image-wrapper logo-image-wrapper">
          <img src="{{ logoImage |  img_url: '500x' }}" alt="">
          {{ section.settings.text }}
          {% if ctaLink %}
            <a href="{{ctaLink}}" class="button button--transparent">{{ctaText}}</a>
          {% endif %}
        </div>
			{%- else -%}
        <div class="image-wrapper logo-image-wrapper">
          <h2>{{section.settings.headline}}</h2>
          {{ section.settings.text }}
          {% if ctaLink %}
            <a href="{{ctaLink}}" class="button button--transparent">{{ctaText}}</a>
          {% endif %}
        </div>
      {%- endif -%}
      {%- if personImage -%}
        <div class="image-wrapper person-image-wrapper">
          <img src="{{ personImage |  img_url: '600x' }}" alt="">
        </div>
			{%- endif -%}
    </div>
</section><!-- /.section section-intro -->

{% schema %}
{
	"name": "Masthead",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#F7F5F2"
    },
    {
      "type": "text",
      "id": "headline",
      "label": "Headline",
      "default": "Another grinchanger."
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Our proprietary formula is designed to work, in just 5 minutes, on even the most sensitive teeth. So everyone can achieve their brightest bright.</p>"
    },
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": "Logo image"
    },
    {
      "type": "image_picker",
      "id": "person_image",
      "label": "Person image"
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "CTA Link"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA Text",
      "default": "Shop now"
    }
  ],
	"presets": [
		{
			"name": "Masthead",
			"category": "content"
		}
	]
}
{% endschema %}
