<div data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" class="container" data-product-handle="{{product.handle}}">
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  <div class="product-info-section section">
    <div class="product-info-gallery">
      {% include 'product_gallery' %}
    </div>
    <div class="product-info-content">
      <h1>{{ product.title }}</h1>
      <div data-price-wrapper>
          {% if product.compare_at_price_max > product.price %}
            <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
            <s data-compare-price class="product-info-price compare-price">
              {% if current_variant.compare_at_price > current_variant.price %}
                {{ current_variant.compare_at_price | money }}
              {% endif %}
            </s>
          {% endif %}

          <span data-product-price class="product-info-price">
            {{ current_variant.price | money }}
          </span>
      </div>
      <div
        class="yotpo bottomLine yotpo-rating-info"
        data-product-id="{{ product.id }}">
      </div>
      <form action="/cart/add" id="product-form"method="post" enctype="multipart/form-data">
        {% unless product.has_only_default_variant %}
          {% for option in product.options_with_values %}
            <div class="selector-wrapper js hidden-selector">
              <label for="SingleOptionSelector-{{ forloop.index0 }}">
                {{ option.name }}
              </label>

              <select
                id="SingleOptionSelector-{{ forloop.index0 }}"
                data-single-option-selector
                data-index="option{{ option.position }}">
                {% for value in option.values %}
                  <option
                    value="{{ value | escape }}"
                    {% if option.selected_value == value %}selected="selected"{% endif %}>
                      {{ value }}
                  </option>
                {% endfor %}
              </select>
            </div>
            <div class="product-info-variant-options">
              {% for value in option.values %}
                    <a
                      href="#"
                      data-value="{{ value | escape }}"
                      class="button button--transparent {% if option.selected_value == value %} selected {% endif %}"
                    >
                      {{ value }}
                    </a>
                  {% endfor %}
            {% endfor %}
          </div>
        {% endunless %}

        <select name="id" class="no-js" data-product-select>
          {% for variant in product.variants %}
            <option
              {% if variant == current_variant %}selected="selected"{% endif %}
              {% unless variant.available %}disabled="disabled"{% endunless %}
              value="{{ variant.id }}">
                {{ variant.title }}
            </option>
          {% endfor %}
        </select>
        <div class="product-quantity">
          <label for="Quantity">QTY</label>
          <input type="number" id="Quantity" name="quantity" value="1" min="1" max="99">
        </div>

        <button
          type="submit"
          name="add"
          class="button"
          data-add-to-cart
          {% unless current_variant.available %}disabled="disabled"{% endunless %}>
            <span data-add-to-cart-text>
              {% if current_variant.available %}
                {{ 'products.product.add_to_cart' | t }}
              {% else %}
                {{ 'products.product.sold_out' | t }}
              {% endif %}
            </span>
        </button>
      </form>
      <div class="rte product-info-description">
          {% if product.has_only_default_variant %}
            {{ product.description }}
          {% else %}
            <div class="product-info--description-slider">
            {% for variant in product.variants %}
              <div class="product-info--description-variant-slide {% if current_variant.title == variant.title %} active {% endif %}" data-value="{{ variant.title | escape }}">
                {{ variant.metafields.info.variant_description }}
              </div>
            {%  endfor %}
            </div>
          {% endif %}
      </div>
      {% include 'pd-accordion' %}
      {% unless product == empty %}
        <script type="application/json" data-product-json>
          {{ product | json }}
        </script>
      {% endunless %}
      </div>
  </div>
</div>

<div class="container">
  {%- assign product1 = all_products[product.metafields.related_products.product_1] -%}
  {%- assign product2 = all_products[product.metafields.related_products.product_2] -%}
  {%- assign product3 = all_products[product.metafields.related_products.product_3] -%}
  {%- assign product4 = all_products[product.metafields.related_products.product_4] -%}

  {% assign product_grid_header = "People also viewed"%}
  {% include 'product-grid'%}
</div>

<a name="yotpo-reviews"></a>
<div class="container">
  {% unless product.metafields.social.hide_ratings %}
    {% include 'yotpo-product' %}
  {% endunless %}
  <section class="section product">
    {% include 'product-table-whitening' %}
  </section>
</div>

<div class="bold-custom-subscription-product-fields" style="display: none;">
  <div class="bold-custom-single_purchase_info">{{product.metafields.accentuate.single_purchase_info}}</div>
  <div class="bold-custom-single_purchase_shipping_info">{{product.metafields.accentuate.single_purchase_shipping_info}}</div>
  <div class="bold-custom-subscription_shipping_info">{{product.metafields.accentuate.subscription_shipping_info}}</div>
</div>

<script>
// used to tell slick slider how many thumbnails to show
{% assign imageCount = 0 %}
{% for image in product.images %}
  {% assign imageCount = imageCount | plus: 1 %}
{% endfor %}
{% if product.metafields.videos.video1_enabled %}{% assign imageCount = imageCount | plus: 1 %}{% endif %}
{% if product.metafields.videos.video2_enabled %}{% assign imageCount = imageCount | plus: 1 %}{% endif %}
  window.numberOfImages = {{ imageCount }};
</script>
{% if product.metafields.videos.video1_enabled or product.metafields.videos.video2_enabled %}
  <script src="https://player.vimeo.com/api/player.js"></script>
{% endif %}

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
