
<div data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" class="container">

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
  <div class="product-info-section section">
    <div class="product-info-gallery">
      <div class="photo-main-image" id="slickCar">
        {% for image in product.images %}
          <img src="{{ image.src | img_url: '1200x1200'}}" alt="{{ image.alt | escape }}" />
        {% endfor %}
      </div>
      {% if product.images.size > 1 %}
        <ul class="photo-thumbnails" id="slickThumbs">
          {% for image in product.images %}
            <li>
                <img class="product-single__thumbnail-image" src="{{ image.src | img_url: '60x60' }}" alt="{{ image.alt | escape }}">
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="product-info-content">
      {% comment %} <div class="product-info-breadcrumbs">
        <p>Shop / bright on<sup>&trade;</sup> / {{ product.title }} </p>
      </div> {% endcomment %}
      <h1>{{ product.title }}</h1>
      <div
        class="yotpo bottomLine yotpo-rating-info"
        data-product-id="{{ product.id }}">
      </div>
      <div class="rte product-info-description">
        {{ product.description }}
      </div>

      <form action="/cart/add" id="product-form"method="post" enctype="multipart/form-data">
        {% unless product.has_only_default_variant %}
          {% for option in product.options_with_values %}
            <div class="selector-wrapper js hidden-selector">
              <label for="SingleOptionSelector-{{ forloop.index0 }}">
                {{ option.name }}
              </label>

              <select
                id="SingleOptionSelector-{{ forloop.index0 }}"
                data-single-option-selector
                data-index="option{{ option.position }}">
                {% for value in option.values %}
                  <option
                    value="{{ value | escape }}"
                    {% if option.selected_value == value %}selected="selected"{% endif %}>
                      {{ value }}
                  </option>
                {% endfor %}
              </select>
            </div>
            <div class="product-info-variant-options">
              {% for value in option.values %}
                    <a
                      href="#"
                      data-value="{{ value | escape }}"
                      class="button button--transparent {% if option.selected_value == value %} selected {% endif %}"
                    >
                      {{ value }}
                    </a>
                  {% endfor %}
            {% endfor %}
          </div>
        {% endunless %}

        <select name="id" class="no-js" data-product-select>
          {% for variant in product.variants %}
            <option
              {% if variant == current_variant %}selected="selected"{% endif %}
              {% unless variant.available %}disabled="disabled"{% endunless %}
              value="{{ variant.id }}">
                {{ variant.title }}
            </option>
          {% endfor %}
        </select>
        <div class="product-quantity">
          <label for="Quantity">QTY</label>
          <input type="number" id="Quantity" name="quantity" value="1" min="1">
        </div>

        <div data-price-wrapper>
          <span data-product-price class="product-info-price">
            {{ current_variant.price | money }}
          </span>

          {% if product.compare_at_price_max > product.price %}
            <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
            <s data-compare-price>
              {% if current_variant.compare_at_price > current_variant.price %}
                {{ current_variant.compare_at_price | money }}
              {% endif %}
            </s>
          {% endif %}
        </div>

        <button
          type="submit"
          name="add"
          class="button button--full-width"
          data-add-to-cart
          {% unless current_variant.available %}disabled="disabled"{% endunless %}>
            <span data-add-to-cart-text>
              {% if current_variant.available %}
                {{ 'products.product.add_to_cart' | t }}
              {% else %}
                {{ 'products.product.sold_out' | t }}
              {% endif %}
            </span>
        </button>
      </form>

      {% unless product == empty %}
        <script type="application/json" data-product-json>
          {{ product | json }}
        </script>
      {% endunless %}
      </div>
  </div>

  {% include 'social-gallery' %}
  {% include 'yotpo-product' %}

  <section class="section section-gap-large">
    {% include 'product-table' %}
  </section>

</div>

<script>
// used to tell slick slider how many thumbnails to show
{% assign imageCount = 0 %}
{% for image in product.images %}
  {% assign imageCount = imageCount | plus: 1 %}
{% endfor %}
  window.numberOfImages = {{ imageCount }};
</script>
{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
