<div data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" class="container">

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
  <div class="product-info-section section">
    <div class="product-info-gallery">
      <div class="photo-main-image">
        <img src="{{ featured_image.src | img_url: '1200x1200'}}" alt="{{ featured_image.alt | escape }}">
      </div>
      {% if product.images.size > 1 %}
        <ul class="photo-thumbnails">
          {% for image in product.images %}
            <li>
              <a href="#" data-thumbnail-id="{{ image.id }}" data-product-single-thumbnail>
                <img class="product-single__thumbnail-image" src="{{ image.src | img_url: '60x60' }}" alt="{{ image.alt | escape }}">
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="product-info-content">
      <div class="product-info-breadcrumbs">
        <p>Shop / bright on<sup>&trade;</sup> / {{ product.title }} </p>
      </div>
      <h1>{{ product.title }}</h1>
      <div class="rte product-info-description">
        {{ product.description }}
      </div>

      <form action="/cart/add" id="product-form"method="post" enctype="multipart/form-data">
        {% unless product.has_only_default_variant %}
          {% for option in product.options_with_values %}
            <div class="selector-wrapper js">
              <label for="SingleOptionSelector-{{ forloop.index0 }}">
                {{ option.name }}
              </label>

              <select
                id="SingleOptionSelector-{{ forloop.index0 }}"
                data-single-option-selector
                data-index="option{{ option.position }}">
                {% for value in option.values %}
                  <option
                    value="{{ value | escape }}"
                    {% if option.selected_value == value %}selected="selected"{% endif %}>
                      {{ value }}
                  </option>
                {% endfor %}
              </select>
            </div>
            <div class="product-info-variant-options">
              {% for value in option.values %}
                    <button
                      class="button button--transparent {% if option.selected_value != value %} not-selected {% endif %}"
                    >
                      {{ value }}
                    </button>
                  {% endfor %}
            {% endfor %}
          </div>
        {% endunless %}

        <select name="id" class="no-js" data-product-select>
          {% for variant in product.variants %}
            <option
              {% if variant == current_variant %}selected="selected"{% endif %}
              {% unless variant.available %}disabled="disabled"{% endunless %}
              value="{{ variant.id }}">
                {{ variant.title }}
            </option>
          {% endfor %}
        </select>

        <label for="Quantity">QTY</label>
        <input type="number" id="Quantity" name="quantity" value="1" min="1">

        <div data-price-wrapper>
          <span data-product-price class="product-info-price">
            {{ current_variant.price | money }}
          </span>

          {% if product.compare_at_price_max > product.price %}
            <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
            <s data-compare-price>
              {% if current_variant.compare_at_price > current_variant.price %}
                {{ current_variant.compare_at_price | money }}
              {% endif %}
            </s>
          {% endif %}
        </div>

        <button
          type="submit"
          name="add"
          class="button button--full-width"
          data-add-to-cart
          {% unless current_variant.available %}disabled="disabled"{% endunless %}>
            <span data-add-to-cart-text>
              {% if current_variant.available %}
                {{ 'products.product.add_to_cart' | t }}
              {% else %}
                {{ 'products.product.sold_out' | t }}
              {% endif %}
            </span>
        </button>
      </form>

      {% unless product == empty %}
        <script type="application/json" data-product-json>
          {{ product | json }}
        </script>
      {% endunless %}
      </div>
  </div>

{%- assign  showBanner = true -%}
{% case product.id %}
  {% when 1791412469878 %}
    {% comment %} on Whitening pens show acc light in banner{% endcomment %}
    {%- assign  bgColor = "#F7F5F2" -%}
    {%- assign bannerImage = 'pincher.png' -%}
    {%- assign isSwapped = true -%}
    {%- assign ctaLink = "/products/led-accelerator-light" -%}
    {%- assign extraClasses = false -%}
    {%- assign title = "LED accelerator light" -%}
    {%- assign text = "Enhance the power of your bright on premium whitening. This LED uses blue light to react with Bright Boost, making it absorb even faster." -%}
  {% when 1791427248246 %}
    {% comment %} LED accelerator light show whitening pens{% endcomment %}
    {%- assign  bgColor = "#D2FFFF" -%}
    {%- assign bannerImage = 'grasp.png' -%}
    {%- assign isSwapped = false -%}
    {%- assign ctaLink = "/products/whitening-pens" -%}
    {%- assign extraClasses = false -%}
    {%- assign title = "Whitening pens" -%}
    {%- assign text = "Each pen contains 4 treatments, 2 for the AM and 2 for the PM. And the no-mess brush keeps gel on teeth and off your hands." -%}
  {% else %}
    {% comment %} default hide banner{% endcomment %}
    {%- assign  showBanner = false -%}
{% endcase %}

{% if showBanner %}
  <section
    class="section section-banner {% if isSwapped %}swap{% endif %} {% if extraClasses %}{{extraClasses}}{% endif %}"
    style="background-color: {{bgColor}};"
  >
        <div class="banner-segment banner-text">
          <h2>{{ title }}</h2>
          <p>{{ text }}</p>
          {% if ctaLink %}
            <a href="{{ctaLink}}" class="banner-cta button button--transparent">Shop now</a>
          {% endif %}
        </div>
        <div class="banner-segment banner-image">
          {%- if bannerImage -%}
            <img src="{{ images[bannerImage] |  img_url: '1000x' }}" alt="">
          {%- endif -%}
        </div>
  </section><!-- /.section section-intro -->
{% endif %}
</div>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
