{%- assign product1 = all_products[section.settings.product_one] -%}
{%- assign product2 = all_products[section.settings.product_two] -%}
{%- assign product3 = all_products[section.settings.product_three] -%}


<div class="container">
  <div class="section section-gap-large section-product-grid" data-col="{% if section.settings.product_three != "" %}3{% else %}2{% endif %}">
    {%- if section.settings.product_one != ""-%}
      <a href="{{ product1.url | default: "#" }}" class="product-grid-item">
        <img
        src="//images.accentuate.io?options=w400&shop={{ shop.permanent_domain }}&image={{ product1.metafields.comparison.grid_image }}"
        alt="{{product1.title}}"
      "/>
        <h3>{{ product1.title | default: "Product Title" }}</h3>
        <p>{{ product1.price | money | default: "$1.99" | remove: "," }}</p>
      </a>
    {%- endif -%}
    {%- if section2.settings.product_two != ""-%}
      <a href="{{ product2.url | default: "#" }}" class="product-grid-item">
      <img
        src="//images.accentuate.io?options=w400&shop={{ shop.permanent_domain }}&image={{ product2.metafields.comparison.grid_image }}"
        alt="{{product2.title}}"
      "/>
        {% comment %} <img src="{{product2.metafields.comparison.grid_image }}" alt="{{product2.title}}"/> {% endcomment %}
        <h3>{{ product2.title | default: "Product Title" }}</h3>
        <p>{{ product2.price | money | default: "$1.99" | remove: "," }}</p>
      </a>
    {%- endif -%}
    {%- if section3.settings.product_three != ""-%}
      <a href="{{ product3.url | default: "#" }}" class="product-grid-item">
        <img
        src="//images.accentuate.io?options=w400&shop={{ shop.permanent_domain }}&image={{ product3.metafields.comparison.grid_image }}"
        alt="{{product3.title}}"
      "/>
        <h3>{{ product3.title | default: "Product Title" }}</h3>
        <p>{{ product3.price | money | default: "$1.99" | remove: "," }}</p>
      </a>
    {%- endif -%}
  </div>
</div>

{% schema %}
  {
    "name": "Product Grid",
    "settings": [
      {
        "type": "product",
        "id": "product_one",
        "label": "Product 1"
      },
      {
        "type": "product",
        "id": "product_two",
        "label": "Product 2"
      },
      {
        "type": "product",
        "id": "product_three",
        "label": "Product 3"
      }
    ],
    "presets": [
      {
        "name": "Product Grid",
        "category": "Product"
      }
    ]
  }
{% endschema %}
