<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <script src="https://cdn.optimizely.com/js/11062620435.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>
    {% include 'analytics' %}

    {{ content_for_header }}
    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
    {% if settings.checkout_shipping_free_fix %}
    <script>
      var changeShippingPriceToFree = function(){
        var el = document.querySelector('[data-checkout-total-shipping-target] span[aria-hidden]');
        if (el.innerHTML == "—"){
          el.innerHTML = "Free";
        }
      };
      document.addEventListener('page:load', changeShippingPriceToFree);
      document.addEventListener('page:change', changeShippingPriceToFree);
    </script>
    {% endif %}
  <!-- GSSTART Coming Soon code start. Do not change -->
<script type="text/javascript"> gsProductByVariant = {}; {% if product.id > 1 %}{% for variant in product.variants %} gsProductByVariant[{{variant.id}}] = {% if variant.available %} 1 {% else %} 0 {% endif %}; {% endfor %}{% endif %}  gsProductCSID = "{{ product.id }}"; gsDefaultV = "{{ product.selected_or_first_available_variant.id }}"; </script><script type="text/javascript" src="https://gravity-software.com/js/shopify/pac_shop12954.js?v=3e297559d8ad2dc2aa1227598c246844"></script>
<!-- Coming Soon code end. Do not change GSEND --></head>
  <body>
    {{ skip_to_content_link }}

    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="wrap">
        <div class="main" role="main">
          <div class="main__header">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {{ content_for_layout }}
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </div>
      </div>
    </div>

    {{ tracking_code }}
  
{% render 'ocuapp-theme', ocuapp: ocuapp %}
{% assign ocuapp = true %}
</body>
</html>
